.todo-wrapper {
  display: flex;
  flex-direction: column;
}

.todo__text {
  text-align: center;
  font-size: 1.2rem;
}

/* Medium devices */
@media only screen and (min-width: 768px) {
  .todo-wrapper {
    padding: 0 3rem;
    width: 80%;
    margin: auto;
  }

  .todo {
    padding: 1.5rem;
    margin-bottom: 0.3rem;
  }
}
